<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My account</title>
    <meta th:replace="home/fragment/css" />
</head>

<body data-spy="scroll" data-target="#navigation" class="page page-id-246 page-template-default mmm mega_main_menu-2-1-2
    animated-content mad__queryloader sticky_menu woocommerce-account woocommerce-page wpb-js-composer js-comp-ver-4.12 vc_responsive">
<div id="wrapper">
    <nav id="mobile-advanced" class="mobile-advanced"></nav>
    <div class="wide_layout">
        <header th:replace="home/fragment/header"></header>
        <div class="page_wrapper sbl">
            <div class="container">
                <div class="row">
                    <aside th:replace="home/fragment/sidebar"></aside>
                    <main id="main" class="col-sm-8 col-md-9 content-holder">
                        <div class='extra-heading '>
                            <h2 class='extra-title fw_light second_font color_dark m_bottom_25 tt_uppercase'>My Account</h2>
                        </div>
                        <section id="account-section" class="section-main">
                            <div class="woocommerce">
                                <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-default
                                    vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-left">
                                    <div class="vc_tta-tabs-container">
                                        <ul class="vc_tta-tabs-list">
                                            <li class="vc_tta-tab vc_active" data-vc-tab="1">
                                                <a data-vc-tabs="" data-vc-container=".vc_tta">
                                                    <span class="vc_tta-title-text">Account Information</span>
                                                </a>
                                            </li>
                                            <li class="vc_tta-tab" data-vc-tab="2">
                                                <a data-vc-tabs="" data-vc-container=".vc_tta">
                                                    <span class="vc_tta-title-text">Transaction</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="vc_tta-panels-container">
                                        <div class="vc_tta-panels">
                                            <div class="vc_tta-panel vc_active" id="1451403382322-5baaf691-b185" data-vc-content=".vc_tta-panel-body">
                                                <div class="vc_tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <div class="table-responsive">
                                                                <div class="mad-table second_font size_2">
                                                                    <div class="mad-table-row">
                                                                        <div class="mad-table-cell">Header 1</div>
                                                                        <div class="mad-table-cell"> Item #1</div>
                                                                    </div>
                                                                    <div class="mad-table-row">
                                                                        <div class="mad-table-cell"> Header 2</div>
                                                                        <div class="mad-table-cell"> Vestibulum iaculis</div>
                                                                    </div>
                                                                    <div class="mad-table-row">
                                                                        <div class="mad-table-cell"> Header 3</div>
                                                                        <div class="mad-table-cell"> 555</div>
                                                                    </div>
                                                                    <div class="mad-table-row">
                                                                        <div class="mad-table-cell"> Total</div>
                                                                        <div class="mad-table-cell"> 555</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <style>
                                                /* Remove Text bold of last row in table*/
                                                .mad-table.size_1 .mad-table-row:last-child,
                                                .mad-table.size_2 .mad-table-row:last-child .mad-table-cell:last-child {
                                                    font-weight: normal;
                                                }
                                            </style>
                                            <div class="vc_tta-panel" id="1451403382396-29df2030-0025" data-vc-content=".vc_tta-panel-body">
                                                <div class="vc_tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="table-responsive">
                                                            <div class="mad-table second_font size_1">
                                                                <div class="mad-table-row">
                                                                    <div class="mad-table-cell">Header 1</div>
                                                                    <div class="mad-table-cell"> Header 2</div>
                                                                    <div class="mad-table-cell"> Header 3</div>
                                                                    <div class="mad-table-cell"> Header 4</div>
                                                                    <div class="mad-table-cell"> Header 5</div>
                                                                </div>
                                                                <div class="mad-table-row">
                                                                    <div class="mad-table-cell"> Item #1</div>
                                                                    <div class="mad-table-cell"> Vestibulum iaculis</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                </div>
                                                                <div class="mad-table-row">
                                                                    <div class="mad-table-cell"> Item #2</div>
                                                                    <div class="mad-table-cell"> Lacinia est</div>
                                                                    <div class="mad-table-cell"> 7 389</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                </div>
                                                                <div class="mad-table-row">
                                                                    <div class="mad-table-cell"> Item #3</div>
                                                                    <div class="mad-table-cell"> Proin dictum</div>
                                                                    <div class="mad-table-cell"> 123</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                </div>
                                                                <div class="mad-table-row">
                                                                    <div class="mad-table-cell"> Total</div>
                                                                    <div class="mad-table-cell"> Elementum velit</div>
                                                                    <div class="mad-table-cell"> 24 694</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                    <div class="mad-table-cell"> 555</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
        <footer th:replace="home/fragment/footer"></footer>
    </div>
</div>
<!--back to top-->
<button class="back_to_top animated button_type_6 grey state_2 d_block black_hover f_left vc_child tr_all"><i class="fa fa-angle-up d_inline_m"></i></button>

<div th:replace="home/fragment/js"></div>
</body>

</html>