<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact us</title>
    <meta th:replace="home/fragment/css"/>
</head>

<body data-spy="scroll" data-target="#navigation" class="page page-id-246 page-template-default mmm mega_main_menu-2-1-2 animated-content mad__queryloader sticky_menu woocommerce-account woocommerce-page wpb-js-composer js-comp-ver-4.12 vc_responsive">
<!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

<div id="wrapper">

    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

    <nav id="mobile-advanced" class="mobile-advanced"></nav>

    <!-- - - - - - - - - - - - / Mobile Menu - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Layout - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->
        <header th:replace="home/fragment/header"></header>
        <!-- - - - - - - - - - - - - - / Header - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - / Breadcrumbs - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - Page Content - - - - - - - - - - - - - -->


        <div class="page_wrapper sbl">

            <div class="container">

                <div class="row">
                    <aside th:replace="home/fragment/sidebar"></aside>
                    <main id="main" class="col-sm-8 col-md-9 content-holder">

                        <!-- - - - - - - - - - - - - Page - - - - - - - - - - - - - - - -->

                        <div class="extra-heading "><h2 class="extra-title fw_light second_font color_dark m_bottom_25 tt_uppercase">Our Location</h2></div>
                        <section class="section-main">
                            <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_gmaps_widget wpb_content_element">
                                <div class="wpb_wrapper">
                                    <div class="wpb_map_wraper">
                                        <iframe width="100" height="347" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12098.04228269596!2d-74.00499255597757!3d40.70677554722762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6!5e0!3m2!1sru!2s!4v1393474990482&amp;t=m&amp;z=14&amp;output=embed" style="pointer-events: none;"></iframe>		</div>
                                </div>
                            </div>
                            </div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1464360301019"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
                            <div class="page_title vc_wp_page_title wpb_content_element  ">

                                <h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13 m_top_0">Contact Us</h5>
                                <hr class="divider_bg m_bottom_10 m_top_0">

                            </div>




                            <div class="second_font contact-info-block">


                                <div class="icon-text-holder d_inline_b">

                                    <p>8901 Marmora Road, Glasgow, D04</p>


                                </div><!--/ .icon-text-holder-->

                            </div><!--/ .info-block-->

                            <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>

                            <div class="second_font contact-info-block">

                                <div class="icon-wrap d_inline_b"><i class="color_dark fs_large m_right_5 fa fa-fa fa-phone"></i></div>

                                <div class="icon-text-holder d_inline_b">

                                    <p>800-599-65-80</p>


                                </div><!--/ .icon-text-holder-->

                            </div><!--/ .info-block-->


                            <div class="second_font contact-info-block">

                                <div class="icon-wrap d_inline_b"><i class="color_dark fs_large m_right_5 fa fa-fa fa-envelope"></i></div>

                                <div class="icon-text-holder d_inline_b">

                                    <p>info@companyname.com</p>


                                </div><!--/ .icon-text-holder-->

                            </div><!--/ .info-block-->

                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                            <div class="page_title vc_wp_page_title wpb_content_element  vc_custom_1455119134087 ">

                                <h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13 m_top_0">Opening Hours</h5>
                                <hr class="divider_bg m_bottom_10 m_top_0">

                            </div>




                            <div class="second_font contact-info-block">


                                <div class="icon-text-holder d_inline_b">

                                    <p>Monday – Friday: 08.00-20.00<br>
                                        Saturday: 09.00-15.00<br>
                                        Sunday and holidays: closed</p>


                                </div><!--/ .icon-text-holder-->

                            </div><!--/ .info-block-->

                        </div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner "><div class="wpb_wrapper">
                            <div class="page_title vc_wp_page_title wpb_content_element  ">

                                <h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13 m_top_0">Contact Form</h5>
                                <hr class="divider_bg m_bottom_10 m_top_0">

                            </div>



                            <div role="form" class="wpcf7" id="wpcf7-f4-p250-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/wordpress/cosyone/fashion/our-location/#wpcf7-f4-p250-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="4">
                                        <input type="hidden" name="_wpcf7_version" value="4.5.1">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p250-o1">
                                        <input type="hidden" name="_wpnonce" value="4f9c89ebd6">
                                    </div>
                                    <p>Your Name (required)<br>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
                                    <p>Your Email (required)<br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </p>
                                    <p>Subject<br>
                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span> </p>
                                    <p>Your Message<br>
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
                                    <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://velikorodnov.com/wordpress/cosyone/fashion/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div></div></div></div>
                        </section><!--/ .section-main-->





                        <!-- - - - - - - - - - - - -/ Page - - - - - - - - - - - - - - -->




                    </main>


                </div><!--/ .row-->
            </div><!--/ .container-->


        </div><!--/ .page_wrapper -->

        <!-- - - - - - - - - - - -/ Page Content - - - - - - - - - - - - - - -->



        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->
        <footer th:replace="home/fragment/footer"></footer>

        <!-- - - - - - - - - - - - - -/ Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->

</div><!--/ #wrapper-->

<!--back to top-->
<button class="back_to_top animated button_type_6 grey state_2 d_block black_hover f_left vc_child tr_all"><i class="fa fa-angle-up d_inline_m"></i></button>

<div th:replace="home/fragment/js"></div>
</body>

</html>