<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Page not found</title>
    <meta th:replace="home/fragment/css" />
</head>

<body data-spy="scroll" data-target="#navigation" class="page page-id-246 page-template-default mmm mega_main_menu-2-1-2
    animated-content mad__queryloader sticky_menu woocommerce-account woocommerce-page wpb-js-composer js-comp-ver-4.12 vc_responsive">
<div id="wrapper">
    <nav id="mobile-advanced" class="mobile-advanced"></nav>
    <div class="wide_layout">
        <header th:replace="home/fragment/header"></header>
        <div class="page_wrapper sbl">
            <div class="container">
                <div class="row">
                    <aside id="sidebar" class="col-sm-4 col-md-3 no-animate-widgets"></aside>
                    <main id="main" class="col-sm-8 col-md-9 content-holder">
                        <div class="template-404">
                            <div class="container_404">
                                <h1 class="tt_uppercase second_font color_dark fs_big_3 m_bottom_16">OOPS, The Page You Are Looking<br>For Cannot Be Found.</h1>
                                <hr class="divider_bg type_2 m_bottom_25 m_xs_bottom_30">
                                <p class="second_font m_bottom_15"><b>The page you requested was not found, and we have a fine guess why.</b></p>
                                <ul class="l_s_none second_font vr_list_type_1 m_bottom_25 m_xs_bottom_30">
                                    <li><i class="fa fa-circle"></i>If you typed the URL directly, please make sure the spelling is correct.</li>
                                    <li><i class="fa fa-circle"></i>If you clicked on a link to get here, the link is outdated.</li>
                                </ul>
                                <p class="second_font "><b>What can you do?</b></p>
                                <ul class="l_s_none second_font vr_list_type_1 m_bottom_14 m_xs_bottom_30">
                                    <li>Have no fear,help is near! There are many ways you can get back on track with Magento Store.</li>
                                </ul>
                                <ul class="l_s_none second_font vr_list_type_1 m_bottom_25 m_xs_bottom_30">
                                    <li><i class="fa fa-circle"></i><a href="#" class="sc_hover">Go back</a> to the previous page.</li>
                                    <li><i class="fa fa-circle"></i>Use the search bar at the top of the page to search for your products.</li>
                                    <li class="m_bottom_20"><i class="fa fa-circle"></i>Follow these links to get you back on track!</li>
                                </ul>

                                <ul class="l_s_none second_font vr_list_type_1 m_bottom_25 m_xs_bottom_30">
                                    <li>
                                        <a href="http://velikorodnov.com/wordpress/cosyone/fashion" class="sc_hover d_inline_b m_right_3">Store Home</a>
                                        <span class="d_inline_b m_right_3 color_dark">|</span>
                                        <a href="/login" class="sc_hover">My Account</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <footer th:replace="home/fragment/footer"></footer>
    </div>
</div>

<button class="back_to_top animated button_type_6 grey state_2 d_block black_hover f_left vc_child tr_all"><i class="fa fa-angle-up d_inline_m"></i></button>

<div th:replace="home/fragment/js"></div>
</body>

</html>