@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: star;
    src: url(../fonts/star.eot);
    src: url(../fonts/star.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: WooCommerce;
    src: url(../fonts/WooCommerce.eot);
    src: url(../fonts/WooCommerce.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'revicons';
    src: url('../fonts/revicons.eot');
    src: url('../fonts/revicons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: vc_grid_v1;
    src: url(../fonts/revicons.eot);
    src: url(../fonts/revicons.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

div.pp_woocommerce .pp_loaderIcon:before {
    height: 1em;
    width: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    display: block;
    content: "";
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(../img/loader.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, .75)
}

.button-active {
    border-color: #222226 !important;
}