<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>

<body th:fragment="footer">
<footer id="footer" class="p_top_0  bg_grey_light_2  ">
    <div class="footer_section_3">
        <div class="container">
            <hr class="divider_black m_bottom_13">
            <div class="d_table w_full d_xs_block t_xs_align_c">
                <div class="col-lg-6 col-md-6 col-sm-6 color_light fw_light f_none d_table_cell v_align_m d_xs_block m_xs_bottom_10">
                    &copy; 2016 <a class='sc_hover' href='/'>Cong</a> All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>