<!DOCTYPE html>
<html>
<aside id="sidebar" class="col-sm-4 col-md-3 no-animate-widgets">
    <div id="widget-zn-mailchimp-2" class="widget widget_zn_mailchimp m_bottom_40 m_xs_bottom_30">
        <h5 class="widget-title color_dark tt_uppercase second_font fw_light m_bottom_13">Newsletter Sign Up</h5>
        <hr class="divider_bg m_bottom_23 m_top_0">
        <div class="theme_box">
            <div id="mailchimp-sign-up" class="mailchimp-sign-up">
                <p class="form_caption  m_bottom_15">Get exclusive deals you will not find anywhere
                else straight to your inbox!</p>
            </div>
            <form class="newsletter" action="#" method="POST">
                <input id="s-email" class="tr_all fw_light w_full fs_medium m_bottom_10"
                       type="email" name="email" placeholder="Enter your email address">
                <button id="signup-submit"
                        class="second_font w_full tt_uppercase fs_medium button_type_2 black state_2 d_block tr_all"
                        name="newsletter-submit" type="submit">Subscribe
                </button>
            </form>
        </div>
    </div>

</aside>
</html>